<html>
    <head>
        <style type="text/css">
            div img {
                cursor: pointer;
                border: 1px solid #000;
            }
        </style>
        <script>
            function setFormImage(id) {
                if (id != '' && !document.getElementById('input_'+id)) {
                    var img = document.createElement('input');
                    img.type = 'text';
                    img.id = 'input_'+id;
                    img.name = id;
                    img.value = id;
                    
                    document.imageSubmit.appendChild(img);
                }
            }
        </script>
    </head>
    <body>
        <div style="float: left; width: 49%;">
            <a href=/images>
                <button>Go To Home Page</button>
            </a>
            <h1>Images</h1>
            {% for image in images %}
                <img src="/static/{{image}}" height="200" id="{{image}}" onclick="setFormImage(this.id)">
                <br/>
                <hr>
            {% endfor %}
        </div>
        <h1>Selected Images</h1>
        <form name="imageSubmit" method="POST" action="/images/delete" enctype = "multipart/form-data">
            <input type="submit" value="Delete Selected"/>
        </form>
    </body>
</html>