<!-- <p>{{message}}</p>
<p align="center">
    <form action = "/images/upload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" accept="image/png, image/jpeg, image/jpg, image/gif" multiple=True/>
        <input type = "submit"/>
    </form>
    <a href=/images/display>
        <button>Show All Images</button>
    </a>
</p> -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<p align="center">
    <form action = "/images/upload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" accept="image/png, image/jpeg, image/jpg, image/gif" multiple=True/>
        <input type = "submit"/>
    </form>
    <a href=/images/display>
        <button>Show All Images</button>
    </a>
</p>
<p>{{message}}</p>
{% endblock %}